.ekko{
    font-size: 1.5rem;
    grid-area: ekko;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.ekko__name{
    transform: translateY(-10%);
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

.ekko__nickname{
    transform: translateY(-60%);
    font-style: italic;
}

.ekko__image{
    height: 80%;
    transform: translateY(-2%);
    border-radius: 50px;
    background-color: red;
}